@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1	{
	font-size: 1.5em;
	font-weight: normal;
}

h3	{
	font-size: 1.0em;
	font-weight: normal;
}

.syntax {
}

.t {
	font-family: "LiSong Pro", "Heiti TC";
}

.s {
	font-family: "STSong", "Heiti SC";
}