<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.caorongjin.pingguo.PingguoPY</string>
	<key>CFBundleName</key>
	<string>Pingguo PY</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.3</string>
	<key>DCSDictionaryCopyright</key>
	<string>Pingguo Dictionary 1.0.0.3 (Pinyin Edition), Copyright &amp;#169; 2008-2011 Alexander Chow.&lt;br /&gt;&lt;br/&gt;Dictionary contents are distributed as CC-CEDICT by MDBG (http://www.mdbg.net) under the Creative Commons Attribution-Share Alike 3.0 license.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Alexander Chow</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>Dictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>Dictionary.xsl</string>
</dict>
</plist>
